* {
  margin: 0px;
  padding: 0px;
}

body {
    background-color: aliceblue;
}

#main-frame {
    display: flex;
    justify-content: center;
    background-color: pink;
    border: purple 2px solid;
}

